<!DOCTYPE html>

<title>Edit AppUser</title>

{% block body %}
    <h1>Edit AppUser</h1>

    {{ include('app_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">back to list</a>

    {{ include('app_user/_delete_form.html.twig') }}
{% endblock %}
